@font-face {
    font-family: "Montserrat"; 
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "Monserat"; 
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype"); 
    font-style: bold;  
    font-weight: bold; 
} 

@font-face {
    font-family: "Druk Wide"; 
    src: url("../fonts/Druk\ Wide\ Medium.otf") format("opentype"); 
    font-style: normal;   
    font-weight: normal; 
} 

@font-face {
    font-family: "Druk Wide"; 
    src: url("../fonts/Druk\ Wide\ Bold.otf") format("opentype"); 
    font-style: bold;  
    font-weight: bold; 
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    cursor: url(../images/cursor.cur), auto;
}

.list-item {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.up-txt {
    text-transform: uppercase;
}

.dwn-list::after {
    display: inline-block;
    content: url(../images/triangle.png);
    margin-left: 8px;
    position: relative;
    top: -2px;
}

.header {
    padding: 0 50px;
    background: #1F2326;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header__button {
    display: flex;
    flex-direction: column;
    cursor: url(../images/pointer.cur), pointer;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 50%;
}

.menu__inner {
    display: flex;
    align-items: center;
}

#menu__toggle {
    display: none;
    opacity: 0;
}

.menu__item {
    display: block;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}

.menu__box {
  transition-duration: .25s;
}

.button__line {
    width: 20px;
    height: 2px;
    background: #FFFFFF;
    display: inline-block;
    margin: 2px 0;
}

.menu__box {
    display: flex;
    justify-content: space-between;
}

.menu__link, .current-user__link {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    cursor: url(../images/pointer.cur), pointer;
    display: flex;
    align-items: center;
    height: 80px;
}

.menu__item:not(:first-child, :nth-child(2)) .menu__link {
    border-bottom: 2px solid transparent;
}

.menu__item:not(:first-child, :nth-child(2)) .menu__link:hover {
    border-color: #FFFFFF;
}

.menu__item:first-child .menu__link {
    height: 30px;
}

.riot-logo, .valorant-logo {
    height: 30px;
}

.menu__item {
    transition-duration: .25s;
}

.menu__item:not(:first-child, :nth-child(2)) {
    margin-right: 45px;
}

.menu__item:first-child {
    padding-right: 40px;
    border-right: 2px solid #FFFFFF;
}

.menu__item:nth-child(2) {
    padding: 0 65px 0 40px;
}

.current-user__link::before {
    display: inline-block;
    content: "";
    margin-right: 20px;
    position: relative;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-image: url("../images/logos/avatar.png");
    background-size: contain;
}

.agents {
    background: #FF4656;
}

.agents__inner {
    height: calc(100vh - 80px);
    background-image: url("../images/backgrounds/agents.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 1920px;
    margin: 0 auto;
}

.agents__title {
    font-family: "Druk Wide", sans-serif;
    font-style: normal;
    font-size: 87px;
    text-align: center;
    letter-spacing: 0.1em;
    writing-mode: vertical-rl;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #FFFFFF;
    margin-left: 80px;
    user-select: none;
}

.agent {
    background: #1F2326;
    border: 2px solid #1F2326;
    border-top-left-radius: 15px;
    cursor: url(../images/pointer.cur), pointer;
    position: relative;
    height: 100%;
    user-select: none;
    transition: background .6s ease-in-out;
}

.agent:not(.active):hover {
    background: #1f2326a4;
}

.agent__info {
    position: absolute;
    writing-mode: vertical-rl;
    top: 20px;
    left: -30px;
}

.agent__country {
    font-family: "Druk Wide", sans-serif;
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 0.1em;
    color: #FF4656;
}

.agent__name {
    font-family: "Druk Wide", sans-serif;
    font-size: 47px;
    letter-spacing: 0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #FFFFFF;
}

.active .agent__name {
    -webkit-text-stroke: 2px #1F2326;
}

.agent__picture {
    height: 580px;
}

.agent__ability-list {
    position: absolute;
    bottom: -30px;
    right: -20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 5px 10px;
    background: inherit;
    border: 2px solid #F8F8F8;
}

.active, .active .agent__ability-list {
    border: 2px solid #1F2326;
    background: #F8F8F8; 
}

.callToAction {
    position: absolute;
    font-family: "Druk Wide", sans-serif;
    font-style: normal;
    font-size: 87px;
    text-align: center;
    letter-spacing: 0.1em;
    width: 100%;
    -webkit-animation: blink 2s linear infinite; 
	animation: blink 2s linear infinite; 
    user-select: none;   
}

@-webkit-keyframes blink { 
	0% { color: #000; }
	50% { color: #333333; }
	100% { color: #000; }
}

@keyframes blink {  
	0% { color: #000; }
	50% { color: #333333; }
	100% { color: #000; }
}

.ability-pic {
    max-height: 40px; 
}

.active .ability-pic {
    filter: invert(1);
}

.abilities {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.ability {
    height: 155px;
    display: flex;
    padding: 15px 20px 15px 25px;
    background: #F8F8F8;
    border: 2px solid #000000;
    border-top-left-radius: 15px;
}

.ability:not(.abilities__button) {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.ability:not(:last-child) {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.ability__icon {
    height: 90px;
    user-select: none;
    z-index: 999;
}

.abilities__button {
    position: relative;
    width: 138px;
    cursor: url(../images/pointer.cur), pointer;
    transition: background .3s ease-in-out;
}

.abilities__button:hover {
    background: #d3d3d3;
}

.abilities__button::after {
    content: url(../images/Polygon.png);
    display: inline-block;
    position: absolute;
    top: 45%;
    left: 45%;
}

.ability__info {
    width: 230px;
}

.ability__type {
    font-family: "Druk Wide", sans-serif;
    font-size: 27px;
    font-weight: 400;
    color: #C4C4C4;
    text-transform: uppercase;
}

.ability__name {
    font-family: "Druk Wide", sans-serif;
    font-size: 18px;
    color: #000000;
    padding: 10px 0;
    text-transform: capitalize;
}

.ability__desc {
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    letter-spacing: 0.1em;
    color: #1F2326;
}

.ability__pic {
    display: flex;
    align-items: center;
    position: relative;
}

.cube {
    width: 105px;
    height: 105px;
    background: #FF4656;
    position: absolute;
    bottom: -15px;
    left: -22px;
}