@font-face {
    font-family: "Montserrat"; 
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "Monserat"; 
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype"); 
    font-style: bold;  
    font-weight: bold; 
} 

@font-face {
    font-family: "Druk Wide"; 
    src: url("../fonts/Druk\ Wide\ Medium.otf") format("opentype"); 
    font-style: normal;   
    font-weight: normal; 
} 

@font-face {
    font-family: "Druk Wide"; 
    src: url("../fonts/Druk\ Wide\ Bold.otf") format("opentype"); 
    font-style: bold;  
    font-weight: bold; 
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list-item {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.up-txt {
    text-transform: uppercase;
}

.dwn-list::after {
    display: inline-block;
    content: url(../images/triangle.png);
    margin-left: 8px;
    position: relative;
    top: -2px;
}

/* .clipped {
    clip-path: polygon(3% 0, 100% 0, 100% 100%, 0 100%, 0 2%);
} */

.header {
    padding: 25px 50px;
    background: #1F2326;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
}

.menu__link, .current-user__link {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.riot-logo, .valorant-logo {
    height: 30px;
}

.menu__item:not(:first-child, :nth-child(2)) {
    margin-right: 45px;
}

.menu__item:first-child {
    padding-right: 40px;
    border-right: 2px solid #FFFFFF;
}

.menu__item:nth-child(2) {
    padding: 0 65px 0 40px;
}

.current-user__link::before {
    display: inline-block;
    content: "";
    margin-right: 20px;
    position: relative;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-image: url("../images/logos/avatar.png");
    background-size: contain;
}

.agents {
    background: #FF4656;
}

.agents__inner {
    height: calc(100vh - 80px);
    background-image: url("../images/backgrounds/agents.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 50px 0;
}

.agents__title {
    font-family: "Druk Wide", sans-serif;
    font-style: normal;
    font-size: 107px;
    text-align: center;
    letter-spacing: 0.1em;
    writing-mode: vertical-rl;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #FFFFFF;
    margin-left: 80px;
    user-select: none;
}

.agent {
    background: #1F2326;
    border: 2px solid #1F2326;
    border-top-left-radius: 15px;
    cursor: pointer;
    position: relative;
    height: 100%;
    user-select: none;
    transition: background .6s ease-in-out;
}

.agent:not(.active):hover {
    background: #1f2326a4;
}

.agent__info {
    position: absolute;
    writing-mode: vertical-rl;
    top: 20px;
    left: -30px;
}

.agent__country {
    font-family: "Druk Wide", sans-serif;
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 0.1em;
    color: #FF4656;
}

.agent__name {
    font-family: "Druk Wide", sans-serif;
    font-size: 47px;
    letter-spacing: 0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #FFFFFF;
}

.active .agent__name {
    -webkit-text-stroke: 2px #1F2326;
}

.agent__picture {
    height: 650px;
}

.agent__ability-list {
    position: absolute;
    bottom: -30px;
    right: -20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 5px 20px;
    background: inherit;
    border: 2px solid #F8F8F8;
}

.active, .active .agent__ability-list {
    border: 2px solid #1F2326;
    background: #F8F8F8; 
}

.ability-pic {
    max-height: 40px; 
}

.active .ability-pic {
    filter: invert(1);
}

.abilities {
    display: flex;
    margin: 20px 40px;
    justify-content: space-around;
}

.ability {
    display: flex;
    padding: 15px 20px 15px 25px;
    background: #F8F8F8;
    border: 2px solid #000000;
    border-top-left-radius: 15px;
}

.ability:not(:last-child) {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.ability__icon {
    height: 90px;
    user-select: none;
    z-index: 999;
}

.abilities__button {
    position: relative;
    width: 138px;
    cursor: pointer;
    transition: background .3s ease-in-out;
}

.abilities__button:hover {
    background: #d3d3d3;
}

.abilities__button::after {
    content: url(../images/Polygon.png);
    display: inline-block;
    position: absolute;
    top: 45%;
    left: 45%;
}

.ability__info {
    width: 320px;
}

.ability__type {
    font-family: "Druk Wide", sans-serif;
    font-size: 27px;
    font-weight: 400;
    color: #C4C4C4;
    text-transform: uppercase;
}

.ability__name {
    font-family: "Druk Wide", sans-serif;
    font-size: 18px;
    color: #000000;
    padding: 10px 0;
}

.ability__desc {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    letter-spacing: 0.1em;
    color: #1F2326;
}

.ability__pic {
    display: flex;
    align-items: center;
    position: relative;
}

.cube {
    width: 105px;
    height: 105px;
    background: #FF4656;
    position: absolute;
    bottom: -15px;
    left: -22px;
}